<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
    <link rel="stylesheet" href="../form.css">
</head>
<body>
<form action="#" th:action="@{/invest-create}" th:object="${investigation}" method="post">
    <label for="specification">Specification</label>
    <textarea id="specification" th:field="*{specification}" rows="10" cols="60" placeholder="Specification"></textarea>
    <label for="client">Client ID</label>
    <input type="text" th:field="*{client.id}" id="client" placeholder="Client id">
    <select th:field="*{status}" id="status">
        <option value="OPEN">OPEN</option>
        <option value="CLOSED">CLOSED</option>
        <option value="IN_PROCESS">IN PROCESS</option>
    </select>
    <input type="submit" value="Create investigation">
</form>
</body>
</html>