<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
<form action="#" th:action="@{/client-create}" th:object="${client}" method="post">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Name">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="roles">Roles</label>
    <input type="text" th:field="*{roles}" id="roles" placeholder="Password">
    <input type="submit" value="Create client">
</form>
</body>
</html>