<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<form action="#" th:action="@{/agent-search}" id="searchIdForm" method="get">
    <label for="searchIdInput">Search by fields</label>
    <input type="text" id="searchIdInput" name="searchValue" th:value="${searchValue}" required>
    <input type="submit" value="Search">
    <input type="button" value="Clear" onclick="refresh()">
</form>
<div th:switch="${agents}">
    <h2 th:case="null">No agents found!</h2>

    <div th:case="*">
        <h2>Agents</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Prof. experience</th>
                <th>Agent role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="agent : ${agents}">
                <td th:text="${agent.ID_agent}"></td>
                <td th:text="${agent.username}"></td>
                <td th:text="${agent.prof_experience}"></td>
                <td th:text="${agent.agent_role}"></td>
                <td><a th:href="@{agent-update/{id}(id=${agent.ID_agent})}">Edit</a></td>
                <td><a th:href="@{agent-delete/{id}(id=${agent.ID_agent})}">Delete</a></td>
            </tr>
            </tbody>
            <p th:text="${#lists.size(agents)}">Length</p>
        </table>

    </div>
    <p><a href="/agent-create">Create agent</a></p>
</div>
</body>
<script>
    function refresh() {
        console.log("hi");
        window.location.href = "http://localhost:8080/agents";
    }
</script>
</html>