<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div th:switch="${clients}">
    <h2 th:case="null">No clients found!</h2>

    <div th:case="*">
        <h2>Clients</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Order</th>
                <th>PhoneNumber</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.case_description}"></td>
                <td th:text="${client.phone_number}"></td>
                <td th:text="${client.username}"></td>
                <td th:text="${client.password}"></td>
                <td><a th:href="@{book-update/{id}(id=${client.id})}">Edit</a></td>
                <td><a th:href="@{book-delete/{id}(id=${client.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/client-create">Create book</a></p>
</div>
</body>
</html>